html
  head
    title Readit
  body
    h1 Readit
    div#resources
    script(src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
    script.
      System.config({baseUrl: '/'});
      System.import('index.js');
